# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
MANIFEST

# .env
*/.env

.DS_Store

# autogen's cache
**/.cache/

# mta deployment tar
mta_archives